.references_management {
    margin: 0 20px 0 0 !important;
}

.references_management h1 {
    margin: 20px 0 0 0 !important;
    padding: 0 !important;
}

.references_management hr {
    border: 0 !important;
    border-bottom: 1px solid #e5e5e5 !important;
    margin-top: 20px !important;
}

.references_management ol {
    margin: 20px 0 0 20px !important;
}

.references_management ol li {
    font-size: 12px !important;
    margin: 0 !important;
}

.references_management ol li ul {
    margin: 10px 0 10px 15px !important;
}

.references_management ol li ul li {
    list-style-type: disc !important;
}

.references_management p {
    margin: 20px 0 0 0 !important;
}

.references_management .bordered {
    border-collapse: collapse !important;
    margin-top: 20px !important;
}

.references_management .bordered td {
    border: 1px solid #e5e5e5 !important;
    vertical-align: middle !important;
}

.references_management .bordered th {
    border: 1px solid #e5e5e5 !important;
    font-size: 13px !important;
    font-weight: bold !important;
    vertical-align: middle !important;
}

.references_management .button-primary + a {
    line-height: 28px !important;
}

.references_management .center {
    text-align: center !important;
}

.references_management .error,
.references_management .updated {
    margin: 20px 0 0 0 !important;
}

.references_management .error p,
.references_management .updated p {
    margin: 10px 0 !important;
    padding: 0 !important;
}

.references_management .float-left {
    float: left !important;
}

.references_management .float-right {
    float: right !important;
}

.references_management .label {
    white-space: nowrap !important;
    width: 200px !important;
}

.references_management .narrow {
    white-space: nowrap !important;
    width: 1px !important;
}

.references_management .right {
    text-align: right !important;
}

.references_management .submit {
    margin: 20px 0 !important;
    padding: 0 !important;
}

.references_management .updated {
    margin: 20px 0 0 0 !important;
}

.references_management .welcome-panel {
    margin-top: 20px !important;
    padding: 0 20px 20px 20px !important;
}

.references_management_container {
    margin-top: 12px !important;
    max-height: 250px !important;
    overflow: auto !important;
}

.references_management_container .references_management_widget {
    margin-top: 0 !important;
    width: 100% !important;
}

.references_management_container .references_management_widget th {
    text-align: left !important;
}

.references_management_widget {
    border-collapse: collapse !important;
    margin-top: 12px !important;
    width: 100% !important;
}

.references_management_widget th {
    background-color: #eee !important;
    border-left: 1px solid #fff !important;
    border-right: 1px solid #fff !important;
    padding: 12px 6px !important;
}

.references_management_widget td {
    padding: 6px !important;
}

.references_management_widget td label {
    display: block !important;
    margin-right: 12px !important;
    text-align: right !important;
}

.references_management_widget td input {
    width: 100% !important;
}

.references_management_widget .center {
    text-align: center !important;
}

.references_management_widget .even {
    background-color: #f9f9f9 !important;
}

.references_management_widget .hide {
    display: none !important;
}

.references_management_widget .label {
    white-space: nowrap !important;
    width: 200px !important;
}

.references_management_widget .narrow {
    white-space: nowrap !important;
    width: 1px !important;
}

.references_management_widget .odd {
    border-bottom: 1px solid #f9f9f9 !important;
}

.references_management_widget .right {
    text-align: right !important;
}

.references_management_widget .wide {
    width: 100% !important;
}
