.sap {
    margin: 0 20px 0 0 !important;
}

.sap h1 {
    margin: 20px 0 0 0 !important;
    padding: 0 !important;
}

.sap hr {
    border: 0 !important;
    border-bottom: 1px solid #e5e5e5 !important;
    margin-top: 20px !important;
}

.sap ol {
    margin: 20px 0 0 20px !important;
}

.sap ol li {
    font-size: 12px !important;
    margin: 0 !important;
}

.sap ol li ul {
    margin: 10px 0 10px 15px !important;
}

.sap ol li ul li {
    list-style-type: disc !important;
}

.sap p {
    margin: 20px 0 0 0 !important;
}

.sap .bordered {
    border-collapse: collapse !important;
    margin-top: 20px !important;
}

.sap .bordered td {
    border: 1px solid #e5e5e5 !important;
    vertical-align: middle !important;
}

.sap .bordered th {
    border: 1px solid #e5e5e5 !important;
    font-size: 13px !important;
    font-weight: bold !important;
    vertical-align: middle !important;
}

.sap .button-primary + a {
    line-height: 28px !important;
}

.sap .center {
    text-align: center !important;
}

.sap .error,
.sap .updated {
    margin: 20px 0 0 0 !important;
}

.sap .error p,
.sap .updated p {
    margin: 10px 0 !important;
    padding: 0 !important;
}

.sap .float-left {
    float: left !important;
}

.sap .float-right {
    float: right !important;
}

.sap .narrow {
    white-space: nowrap !important;
    width: 1px !important;
}

.sap .right {
    text-align: right !important;
}

.sap .submit {
    margin: 20px 0 !important;
    padding: 0 !important;
}

.sap .updated {
    margin: 20px 0 0 0 !important;
}

.sap .welcome-panel {
    margin-top: 20px !important;
    padding: 0 20px 20px 20px !important;
}
